
@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
    Layout = "~/Pages/Shared/_AccountLayout.cshtml";
}

<br /> <br /> <br />
  <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        The link has been sent, please check your email to reset your password!
    </div>
<br />
<a class="btn btn-info" asp-area="" asp-controller="Account" asp-action="Login">  Back </a>

