@model NotificationUI.Models.RegisterModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Pages/Shared/_AccountLayout.cshtml";
}
<br />
<div class="portlet light portlet-fit portlet-datatable bordered">
    <div class="portlet-body">
        <div class="form-body">  
            <div class="table-container">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                         <span class="caption-subject font-green sbold uppercase" style="font-weight:bold">USER REGISTRATION PAGE</span>
                          <br />
                        <form method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                             <div class="form-group">
                                <label asp-for="FirstName" class="control-label"></label>
                                <input asp-for="FirstName" id="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="LastName" class="control-label"></label>
                                <input asp-for="LastName" id="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" id="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Password" class="control-label"></label>
                                <input asp-for="Password" id="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="ConfirmPassword" class="control-label"></label>
                                <input asp-for="ConfirmPassword" id="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn-primary btnRegister">Register</button>
                            </div>
                        </form>
                    <div class="col-md-2"></div>
                    </div>
                </div>
             </div>
        </div>
   </div>
 </div>
