
@{
    ViewData["Title"] = "ResetPasswordConfirmation";
    Layout = "~/Pages/Shared/_AccountLayout.cshtml";
}

<br /> <br /> <br />
  <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        Your password has been reset successfully!
    </div>
<br />
<a class="btn btn-info" asp-area="" asp-controller="Account" asp-action="Login">  Go to Login </a>


