@model NotificationUI.Models.CustomerFullUtilShareSetting;

@{
    ViewData["Title"] = "EditFullUtilSetting";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="portlet light portlet-fit portlet-datatable bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-settings font-green"></i>
            <span class="caption-subject font-green sbold uppercase">Edit Full Util Setting</span>
        </div>
    </div>
    <br />
     
    <div class="portlet-body">
      <div class="form-body">
          <div class="table-container scroll vert">
               <div class="col-md-2"></div>
               <div class="col-md-8">
                   <form  class="form_edit_util_set">  

                       <div class="form-group nodisplay" >
                            <label class="control-label">ID</label>
                            <input class="form-control floating" name="id" type="text" readonly value=@Model.id />
                        </div>

                        <div class="form-group">
                            <label class="control-label">Country Code</label>
                             <input class="form-control floating" readonly name="country_code" type="text" value=@Model.country_code />
                        </div>

                         <div class="form-group">
                            <label class="control-label"> Customer ID</label>
                             <input class="form-control floating" readonly name="customer_id" type="text"  value=@Model.customer_id />                                         
                        </div>

                        <div class="form-group">
                            <label class="control-label"> Policy ID</label>
                              <input class="form-control floating" readonly name="pol_id" type="text" value=@Model.pol_id />                                       
                        </div>

                        <div class="form-group">
                            <label>If you'd like to add an email, do it below here, if not, just ignore</label>
                            <label  class="control-label">Add Email to List</label>
                            <input type="email" id="addUtilEmailtoList" name="addUtilEmailtoList" class="form-control" placeholder="add email to list" />
                            <br />
                            <button type="submit" class="btn btn-primary pull-right btnAddUtilEmailtoList" >Add Email </button>       
                        </div>

                        <div class="form-group">
                            <label class="control-label">Email Addresses</label>
                            <select id="emAddressUtil" name="email_address" class="form-control" multiple="multiple"  size="8" asp-items="@Model.Email_Lists"> </select>
                            <br />
                            <button type="submit" class="btn btn-primary pull-right btnEditEmailUtilLst" >Edit Email </button> 
                        </div>

                        <div class="form-group nodisplay" id="editUtilEmailDiv">
                            <label  class="control-label">Edit Email List</label>
                            <input type="text" id="edit_util_email_list" class="form-control" placeholder ="edit email on list" />
                            <br />
                            <button type="submit" class="btn btn-primary pull-right btnAddEditedUtilEmailLst" >Edit </button>                          
                        </div>
                        <br />

                         <div class="form-group">
                            <label class="control-label"> Percentage Alert</label>
                              <input class="form-control floating numericsonly"  name="percentage_alert" type="number" value=@Model.percentage_alert />                                     
                        </div>

                         <div class="form-group">
                            <input class="btn btn-primary btnEditUtilsetting" value="Edit Submit" type="submit" /> 
                            <a class="btn btn-primary pull-right" asp-controller="Home" asp-action="ViewFullUtilShareSetting">  Back </a>                                    
                        </div>            
                   </form>
               </div>
              <div class="col-md-2"></div>
          </div>
       </div>
    </div>
</div>
