@model NotificationUI.Models.CustomerClaimAlert;

@{
    ViewData["Title"] = "EditCstClaimAlert";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="portlet light portlet-fit portlet-datatable bordered">
<div class="portlet-title">
    <div class="caption">
        <i class="icon-settings font-green"></i>
        <span class="caption-subject font-green sbold uppercase">Edit Claim Alert</span>
    </div>
</div>
<br />
     
<div class="portlet-body">
  <div class="form-body">
       <div class="table-container vert">  
          <div class="col-md-2"></div>
          <div class="col-md-8">
              <form  class="form_edit_claim_alert" >
                    <div class="form-group nodisplay" >
                        <label class="control-label">ID</label>
                        <input class="form-control floating" name="id" type="text" readonly value=@Model.id />
                    </div>

                    <div class="form-group">
                        <label class="control-label">Customer ID</label>
                        <input class="form-control floating" id="customer_id" name="customer_id" type="text" readonly  value=@Model.customer_id />
                    </div>

                     <div class="form-group">
                        <label class="control-label"> Alert Maximum Amount</label>
                        <input class="form-control floating numericsonly" id="alert_max_amount"  name="alert_max_amount" type="number"  value=@Model.alert_max_amount />
                    </div>

                    <div class="form-group">
                        <label>If you'd like to add an email, do it below here, if not, just ignore</label>
                        <label  class="control-label">Add Email to List</label>
                        <input type="email" id="addAlrtEmailtoList" name="addAlrtEmailtoList" class="form-control" placeholder="add email to list" />
                        <br />
                        <button type="submit" class="btn btn-primary pull-right btnAddAlrtEmailtoList" >Add Email </button>       
                    </div>

                    <div class="form-group">
                        <label class="control-label">Email Addresses</label>
                        <select id="emAddressAlt" name="email_address" class="form-control" multiple="multiple"  size="8" asp-items="@Model.Email_Lists"> </select>
                        <br />
                        <button type="submit" class="btn btn-primary pull-right btnEditEmailAlrtLst" >Edit Email </button> 
                    </div>
                    <div class="form-group nodisplay" id="editAlrtEmailDiv">
                        <label  class="control-label">Edit Email List</label>
                        <input type="text" id="edit_alert_email_list" class="form-control" placeholder ="edit email on list" />
                        <br />
                        <button type="submit" class="btn btn-primary pull-right btnAddEditedAlertEmailLst" >Edit </button>                          
                    </div>
                    <br />

                    <div class="form-group">
                        <label class="control-label">Country Code</label>
                        <input class="form-control floating" readonly id="country_code" name="country_code" type="text" value=@Model.country_code />
                        </div>

                        <div class="form-group">
                        <label class="control-label"> Maximum Claim Count</label>
                        <input class="form-control floating numericsonly" id="alert_max_claim_amount" name="alert_max_claim_amount" type="number" value=@Model.alert_max_claim_amount /> 
                    </div>

                    <div class="form-group">
                        <input class="pull-left btn btn-primary btnEditclaimalert " value="Edit Submit" type="submit" />  
                        <a class="btn btn-primary pull-right" asp-controller="Home" asp-action="ViewCustomerClaimAlert">  Back </a>                                    
                    </div>
              </form>
          </div>
          <div class="col-md-2"></div>
       </div>
   </div>
</div>

</div>
