div.scroll {
    margin: 4px, 4px;
    padding: 4px;
    overflow-x: auto;   
}
div.vert {
    margin: 5px;
    padding: 5px;
    height: 500px;
    overflow: auto;
    text-align: justify;
}
html, body {
    overflow-y: scroll;
}
.modalspinner {
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: Black;
    filter: alpha(opacity=60);
    opacity: 0.6;
    -moz-opacity: 0.8;
}

.centerspinner {
    z-index: 1000;
    margin: 300px auto;
    padding: 10px;
    width: 170px;
    background-color: White;
    border-radius: 8px;
    filter: alpha(opacity=100);
    opacity: 1;
    -moz-opacity: 1;
}

.centerspinner img {
    height: 150px;
    width: 150px;
}
.dtclmnpx {
    width: 100px;
    max-width: 100px;
}
